.googlemap-input{
	box-sizing: border-box;
	border: 1px solid transparent;
	width: 240px;
	height: 40px;
	margin-top: 10px;
	padding: 0px 12px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
	font-size: 14px;
	outline: none;
	margin-left: 10px;
	z-index: 0;
	position: absolute;
}
